<div id="main">
    <div id="about-container" (click)="aboutClicked()">
        <p id="about-hook">How to Make Space</p>
        <div class="blockquote" *ngIf="showAbout">
            <p>From Romance Office</p>
            <p>w/ Idle Hours Co.</p>
            <p>and Leisure Cooperative</p>
            <p>plus Infiniteplaces</p>
            <br>
            <p>Architecture, DIY, Ecology <br>Habitation, Kinship, Time</p>
            <br>
            <a href="../../assets/tiger-dingsun-resume.pdf" target="_blank">Manifesto</a>
            <p> </p>
        </div>
        
    </div>
    <div id="projects-container">
        <p>Library</p>
        <ul>
                <li *ngFor="let project of projects" 
                (click)="onSelect(project)" 
                [class.selected]="project === selectedProject">
                    {{ project.name }}
                    <app-project-description *ngIf="project === selectedProject" [project]=project></app-project-description>

                </li>
        </ul>
        
    </div>
   
    <app-left-footer *ngIf="selectedProject" [project]="selectedProject"></app-left-footer>
</div>

